.header {
  position: relative;
  height: 36px;
  margin: 20px 0;
}

.nav {
  width: 100%;
  height: 100%;
  background: #f6f6f7;
}

.nav .cart {
  float: right;
  margin: 10px;
  margin-right: 70px;
  font-size: 13px;
  color: #888;
}

.nav .cart:hover +.cart-info {
  display: block;
}

.cart-info {
  display: none;
  position: absolute;
  margin-right: 40px;
  right: 0;
  top: 40px;
  z-index: 1;
  width: 240px;
  border: 1px solid #ccc;
  padding: 19px;
  background: #fff;
}

.cart-block {
  height: 110px;
}

.cart-left {
  float: left;
}

.cart-pic img {
  width: 70px;
  height: 100px;
}

.cart-right {
  float: right;
  margin-right: 70px;
}

.cart-right .title {
  font-size: 13px;
  margin-top: -3px;
}

.cart-right .price {
  padding: 0;
  font-size: 10px;
}

.cart-right .info-size {
  font-size: 10px;
}

@media screen and (max-width: 420px) {
  .header {
    width: 100%;
  }

  .nav .cart {
    margin: 10px;
    margin-right: 10px;
    font-size: 13px;
    color: #888;
  }
}
