.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 30px;
}

@media screen and (min-width: 420px) {
  .container {
    flex-direction: row;
  }
}

.details {
  display: flex;
  width: 100%;
  flex-direction: column;
}

@media screen and (min-width: 420px) {
  .details {
    width: 40%;
  }
}

.preview {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 420px) {
  .preview {
    margin-left: 100px;
    width: 35%;
  }
}

@media screen and (min-width: 420px) {
  .container {
    flex-direction: row;
  }
}

.preview img {
  width: 100%;
  display: flex;
}

.title {
  color: #222;
  text-align: left;
}

.price {
  margin: 20px 0;
  color: #222;
  font-size: 18px;
  font-weight: bold;
}

.dec {
  margin: 20px 0;
  color: #888;
  font-size: 16px;
  line-height: 1.5;
}

.size {
  font-size: 14px;
  color: #888;
  font-weight: bold;
}

.size :after {
  content: ' *';
  color: #c90000;
  font-size: 100%;
}

.cart-box {
  list-style-type: none;
  margin: 25px 0 0;
  padding: 0;
}

.cart-box li {
  float: left;
  margin: 0 10px 0 0;
  width: 50px;
  height: 40px;
  position: relative;
  color: #888;
}

.cart-box li input {
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.cart-box li .checked {
  border: 2px solid #222;
  color: #222;
}

.cart-box label,
.cart-box input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.cart-box input[type='radio'] {
  opacity: 0;
  z-index: 100;
}

.cart-box input[type='radio']:checked + label {
  border: 1px solid #222;
}

.cart-box label {
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  z-index: 90;
}

.btn {
  width: 140px;
  cursor: pointer;
  margin-top: 30px;
  padding: 8px 12px;
  line-height: 16px;
  font-size: 14px;
  font-weight: 600;
  color: #222;
  border: 2px solid #222;
  transition: 0.2s ease-in;
}

.btn:hover {
  background: black;
  color: white;
}

@media screen and (max-width: 420px) {
  .left {
    float: none;
  }

  .pic img {
    display: block;
    margin: 0 auto;
    width: 350px;
    height: 520px;
  }

  .dec {
    margin: 40px 0;
    color: #888;
    font-size: 13px;
    line-height: 13px;
  }

  .size-type {
    padding: 18px 0;
    margin: 0;
    font-size: 0;
  }

  .btn {
    margin-top: 50px;
    background: white;
  }

  .btn:hover {
    margin-top: 50px;
    transition-delay: 0.2s;
  }

  .cart-box label {
    font-size: 15px;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    z-index: 90;
  }

  .cart-box li input {
    cursor: pointer;
    width: 40px;
    height: 40px;
  }
}
